
* {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 100 !important;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F9FAFF;
}

header {
  padding-bottom: 500px;
  padding-top: 200px;
  background: url('http://unsplash.it/600/400') no-repeat bottom;
  background-size: cover;
  position: relative;
  color: white;
}

header::before {
  content: '';
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header > * {
  position: relative;
  z-index: 1;
}

h1 {
  font: inherit;
}



#slider {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 380px;
  overflow: hidden;
}

.slider-item {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
  transition: left, transform, top;
  display: none;
  will-change: left, top, transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 0.5, 0.1, 1.1);
}

.slider-text {
  background-color: rgba(0, 0, 0, .9);
  line-height: 380px;
  user-select: none;
}

.slider-item.is-prev-3,
.slider-item.is-prev-2,
.slider-item.is-prev-1,
.slider-item.is-next-1,
.slider-item.is-next-2,
.slider-item.is-next-3,
.slider-item.is-current {
  display: block;
}

.slider-item.is-current {
  transform: translateX(-50%);
  left: 50%;
  z-index: 3;
}

.slider-item.is-prev-3 { left: -35%; }
.slider-item.is-prev-2 { left: 0%; }
.slider-item.is-prev-1 { left: 16%; }
.slider-item.is-next-1 { left: 51%; }
.slider-item.is-next-2 { left: 65%; }
.slider-item.is-next-3 { left: 100%; }

.slider-item.is-prev-3, .slider-item.is-next-3 {
  z-index: 0;
  top: 120px;
}

.slider-item.is-prev-2, .slider-item.is-next-2 {
  z-index: 1;
  top: 80px;
}

.slider-item.is-prev-1, .slider-item.is-next-1 {
  z-index: 2;
  top: 40px;
}
